/SwiftRepoGUI.xcodeproj/xcuserdata
/SwiftRepoGUI.xcodeproj/project.xcworkspace/xcuserdata/shad.xcuserdatad
/Ox0badf00d/.swiftpm/xcode/xcuserdata/shad.xcuserdatad/xcschemes/xcschememanagement.plist
/SwiftRepoGUI.xcodeproj/xcuserdata/shad.xcuserdatad/xcschemes/xcschememanagement.plist
/default.profraw
/SwiftRepoGUI.xcworkspace/xcuserdata
